body{
    font-family:serif;
    background-color: #F5F5F5,;
}
h1{
  font-weight: 700;
  font-size: 30rem;
}
h2 {
  font-size: 12rem;
}
p{
  font-size: 6rem;
}
.habit_tracker {
  padding-top: 10rem;
  height: 100vh;
  text-align: center;

}
svg {
  height: 10rem;
  width: 10rem;
  color: white;
  background-Color: rgb(170, 204, 199);
  margin:1rem;
  border-radius: 2rem;
  margin-bottom: 10rem;
}
.container {
  padding-top: 1rem;
  padding-left: 10rem;
  padding-right: 10rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20rem;
}
.introduction {
  display:none;
}
.tracker {
  font-size: 3rem;
  background-color: rgb(131, 211, 231);
  padding-left: 2rem;
  padding-right:2rem;
}
.noTracker {
  font-size: 3rem;
  background-color: gray;
  color: white;
}